h2 {
    text-align: center;

    border: 1px red solid;
}

.input,
.output {
    max-width: 380px;

    border: 1px green solid;
}

.fight-row {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px red solid;
}

.fight-number {
    font-weight: 900;
}

.fight-component,
.results-component {
    display: flex;
    align-items: center;

    border: 1px purple solid;
}

.fighter-a,
.fighter-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    border: 1px black solid;
}

.btn {
    margin-top: 1rem;
}

img {
    width: 100%;
    border: 1px black solid;
}
